.BudgetForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BudgetForm form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 8px 6px -5px;
    color: gray;
    width: 350px;
    margin-bottom: 30px;
}

.BudgetForm form button{
    border: none;
    padding: 15px;
    background-color: green;
    color: white;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

.inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 23px;
}

.inputs label{
    font-size: 23px;
}

.inputs input{
    border: none;
    background-color: rgb(255, 255, 255);
    border: solid;
    border-width: thin;
    font-size: 20px;
    width: 65%;
}

.total{
    position: fixed;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.total p{
    width: 350px;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    background-color: green;
    box-shadow: 1px 6px 6px -5px;
    font-size: 30px;
    color: white;
    z-index: 10;
}

.expenseContainer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 8px 6px -5px;
    color: gray;
}

.expenseContainer button{
    padding: 15px;
    font-size: 18px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
}

.expenseText{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.expenseText p:nth-child(2){
    color: rgb(29, 196, 29);
    font-weight: 500;
}

@media all and (min-width: 978px) {
    .BudgetForm form{
        width: 500px;
        padding: 20px;
    }

    .inputs label{
        font-size: 25px;
    }

    .total p{
        font-size: 20px;
        width: 300px;
    }

    .expenseContainer{
        width: 500px;
        padding: 20px;
    }

    .expenseText{
        font-size: 20px;
    }

    .BudgetForm form button{
        font-size: 20px;
    }
}